h1 {
	background-color: #ffffff;
	color: #0000a0;
	direction: ltr;
	font-family: Arial, "MS Serif", sans-serif;
	font-size: 25px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	text-align: center;
	text-decoration: underline;
	text-transform: capitalize;
}

li {
	color: #0000a0;
	font-family: Arial, "MS Serif", sans-serif;
	font-size: 12px;
	text-align: center;

}


table, tr {
	border-color: #008000;
	border-style: solid;
	border-width: 2pt;
	color: #400040;
	font-family: Arial;
}